.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

.floatButton {
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin-right: 2%;
    margin-bottom: 2%;
    z-index: 10;
}
